/* Estilos generales para tema oscuro */
body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Estilos para enlaces */
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #007bff; /* Color azul al hacer hover */
}

/* Estilos para íconos */
i {
  color: #fff;
  font-size: 1.5rem;
}

i:hover {
  color: #007bff; /* Color azul al hacer hover */
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #333;
}

.navbar-brand {
  color: #fff; /* Color blanco inicial */
}

.navbar-brand:hover {
  color: #0a58ca; /* Azul más oscuro al pasar el mouse */
}

.navbar-nav .nav-link {
  color: #fff; /* Color blanco inicial */
}

.navbar-nav .nav-link:hover {
  color: #0a58ca; /* Azul más oscuro al pasar el mouse */
}

/* Secciones específicas */
.welcome-section {
  background-color: #333;
  color: #fff;
  padding: 100px 20px;
  height: 100vh; /* Altura del 100% del viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 1.5rem;
}

.welcome-section a {
  color: #fff;
  margin: 0 10px;
}

.welcome-section a:hover {
  text-decoration: none;
}

/* Sección about */
.about-section {
  background-color: #333;
  color: #fff;
  padding: 100px 20px;
}

/* Sección skills */
.skills-section {
  background-color: #222;
  color: #fff;
  padding: 100px 20px;
}

.skills-section .col-md-2 {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .skills-section .col-md-2 {
    width: 50%;
  }
}

/* Sección projects */
.projects-section {
  background-color: #333;
  color: #fff;
  padding: 50px 20px;
}

/* Sección timeline */
.timeline-section {
  background-color: #222;
  color: #fff;
  padding: 100px 20px;
}

.timeline-section h2,
.timeline-section h5,
.timeline-section p {
  color: #fff;
}

/* Sección contact */
.contact-section {
  background-color: #333;
  color: #fff;
  padding: 100px 20px;
}

.contact-section .form-label {
  color: #fff;
}

.contact-section .form-control {
  background-color: #444;
  color: #fff;
  border-color: #666;
}

.contact-section .btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.contact-section .btn-primary:hover {
  background-color: #0a58ca;
  border-color: #0a58ca;
}

/* Estilos del footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
}

footer .footer-links {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer .footer-links a {
  color: #888;
  margin: 0 15px;
}

footer .footer-links a:hover {
  color: #007bff;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer .social-icons a {
  color: #888;
  margin: 0 10px;
  font-size: 1.5rem;
}

footer .social-icons a:hover {
  color: #007bff;
}

footer .footer-form {
  text-align: center;
}

footer .footer-form .form-control {
  background-color: #fff;
  color: #000;
  border-color: #666;
}

footer .footer-form .btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

footer .footer-form .btn-primary:hover {
  background-color: #0a58ca;
  border-color: #0a58ca;
}

/* Estilos para las tarjetas */
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.card-text {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #fff;
}

.card {
  width: 300px;
  height: 500px;
}

